@page
@model AzureAppKurulko2.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        That's about Deployment Slots
    </h2>
</div>
